html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

:root {
  --accent-color: #2196F3;
  --text-color: #757575;
  --background-color: #ffffff;
  --title-text-color: #212121;
  --secont-title-text-color: #ffffff;
  --secondary-section-background: #2F303A;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --portfolio-buttons-bgc: #F5F4FA;
  --grey-bgc: #F5F4FA;
  --light-grey-bgc: #E5E5E5;
  --head-border-color: #ECECEC;
  --portfolio-border-color: #EEEEEE;
  --fill-socials: #AFB1B8;
  --button-bgc-hover: #1976d2;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.footer {
  padding: 60px 0;
  background-color: var(--secondary-section-background);
}

@media (min-width: 480px) {
  .footer-logo {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .footer-logo {
    margin-left: 0;
  }
}
.footer-logo__web--blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.footer-logo__studio--white {
  color: var(--secont-title-text-color);
}

@media (min-width: 480px) {
  .footer-adress__thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 768px) {
  .footer-adress__thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .footer-adress__thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 480px) {
  .footer-first-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 768px) {
  .footer-first-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .footer-first-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.footer-first-row__adress {
  margin: 0;
  margin-bottom: 9px;
  color: var(--secont-title-text-color);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
@media (max-width: 767px) {
  .footer-first-row__adress {
    margin-bottom: 8px;
  }
}
.footer-first-row__mail {
  margin-top: 0;
  margin-bottom: 9px;
  color: var(--footer-adress-color);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
@media (min-width: 480px) {
  .footer-first-row__mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 768px) {
  .footer-first-row__mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer-first-row__tel {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--footer-adress-color);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.footer-first-row__tel:hover, .footer-first-row__mail:hover {
  color: var(--accent-color);
}

@media (min-width: 480px) {
  .footer-second-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 60px;
  }
}
@media (min-width: 768px) {
  .footer-second-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -45px;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .footer-second-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 0;
  }
}
.footer-second-row__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 0px;
}
@media (min-width: 480px) {
  .footer-second-row__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 768px) {
  .footer-second-row__socials {
    margin-left: 0;
  }
}
.footer-second-row__title {
  display: block;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: var(--secont-title-text-color);
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer-second-row__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer-second-row__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--secont-title-text-color);
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-second-row__socials-link {
  width: 20px;
  height: 20px;
  fill: var(--secont-title-text-color);
}
.footer-second-row__icon:hover, .footer-second-row__icon:focus, .footer-second-row__icon:active {
  background-color: var(--accent-color);
}
.footer-second-row__icon:hover .footer-second-row__socials-link, .footer-second-row__icon:focus .footer-second-row__socials-link, .footer-second-row__icon:active .footer-second-row__socials-link {
  fill: var(--secont-title-text-color);
}

@media (min-width: 480px) {
  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 768px) {
  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: auto;
  }
}

@media (min-width: 480px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 60px;
  }
}
@media (min-width: 768px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: -43px;
    margin-left: 0;
  }
}
.form-footer__title {
  margin-bottom: 20px;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secont-title-text-color);
}
@media (min-width: 768px) {
  .form-footer__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form-footer-conteiner {
  position: relative;
}
@media (min-width: 1200px) {
  .form-footer-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.form-footer-conteiner__input {
  width: 358px;
  height: 50px;
  background: var(--secondary-section-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
@media (min-width: 480px) {
  .form-footer-conteiner__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    max-width: 450px;
  }
}
@media (min-width: 768px) {
  .form-footer-conteiner__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 450px;
    height: 50px;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .form-footer-conteiner__input {
    margin-bottom: 0;
    width: 358px;
  }
}
.form-footer-conteiner__input:hover, .form-footer-conteiner__input:focus, .form-footer-conteiner__input:active {
  border-color: var(--accent-color);
}

.form-footer-button {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  border: none;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 29px;
  padding-right: 62px;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  color: var(--secont-title-text-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) scale(0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) scale(0.2);
}
@media (min-width: 480px) {
  .form-footer-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 85px;
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .form-footer-button {
    margin-left: 130px;
  }
}
@media (min-width: 1200px) {
  .form-footer-button {
    position: relative;
    margin-top: 0;
    margin-left: 12px;
  }
}
.form-footer-button:hover, .form-footer-button:focus {
  background-color: var(--button-bgc-hover);
}
.form-footer-button__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (min-width: 480px) {
  .form-footer-button__icon {
    left: 65%;
    top: 95px;
  }
}
@media (min-width: 768px) {
  .form-footer-button__icon {
    left: 63%;
    top: 95px;
  }
}
@media (min-width: 1200px) {
  .form-footer-button__icon {
    position: absolute;
    left: 520px;
    top: 24px;
  }
}

.header-section {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--head-border-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.modal {
  width: 528px;
  max-height: 581px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 40px;
  background: var(--secont-title-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1200px) {
  .modal {
    width: 450px;
    max-height: 609px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px 40px;
    background: var(--secont-title-text-color);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: inherit;
}
.modal-close-button__icon-close {
  display: block;
  width: 11px;
  height: 11px;
  fill: #000000;
}
.modal-close-button__icon-close:hover, .modal-close-button__icon-close:focus {
  fill: var(--accent-color);
}

@media (max-width: 1200px) {
  .conteiner-modal {
    width: 370px;
  }
}
.conteiner-modal__form-title {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  height: 100%;
}
.form-item__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 0;
  margin-bottom: 4px;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.form-item__text {
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--title-text-color);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1200px) {
  .form-item__text {
    width: 370px;
  }
}
.form-item__text:hover, .form-item__text:focus {
  border-color: var(--accent-color);
  color: var(--title-text-color);
}
.form-item__text:hover + .icon-item {
  fill: var(--accent-color);
}

.terms-condition__text {
  position: relative;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-left: 36px;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .terms-condition__text {
    font-size: 12px;
    padding-left: 26px;
  }
}
.terms-condition__check-box-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 2px;
  margin-left: 13.5px;
  width: 16px;
  height: 15px;
  background-color: var(--secont-title-text-color);
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
}
@media (max-width: 1200px) {
  .terms-condition__check-box-control {
    margin-left: 0;
  }
}
.terms-condition__link {
  color: var(--accent-color);
}
.terms-condition__input {
  width: 16px;
  height: 15px;
  opacity: 0;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
}
.terms-condition__icon {
  position: absolute;
  width: 16px;
  margin-left: -1px;
  height: 15px;
  opacity: 0;
  background-color: var(--accent-color);
  fill: var(--white-color);
  border: transparent;
  border-radius: 2px;
}
.terms-condition__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.terms-condition__input:checked + .terms-condition__icon {
  opacity: 1;
}
.terms-condition__check-box-control:active {
  opacity: 1;
}

.input-item {
  position: relative;
  width: 100%;
  height: 100%;
}
.input-item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding-left: 40px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--title-text-color);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1200px) {
  .input-item__inner {
    width: 370px;
  }
}
.input-item__inner:hover, .input-item__inner:focus {
  border-color: var(--accent-color);
  color: var(--title-text-color);
}
.input-item__inner:hover + .input-item__icon, .input-item__inner:focus + .input-item__icon {
  fill: var(--accent-color);
}
.input-item__icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
}

.human {
  width: 12px;
  height: 12px;
}

.telephone {
  width: 13px;
  height: 13px;
}

.envelope {
  width: 15px;
  height: 12px;
}

.submit-button {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--secont-title-text-color);
  border: hidden;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) scale(0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) scale(0.2);
  cursor: pointer;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secont-title-text-color);
}
.submit-button:hover, .submit-button:focus {
  background-color: var(--button-bgc-hover);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu-links {
  display: none;
}
@media (min-width: 768px) {
  .menu-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 88px;
  }
}
.menu-links__nav-link {
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.menu-links__nav-link:hover {
  color: var(--accent-color);
}
.menu-links__nav-link:focus {
  color: var(--accent-color);
}
.menu-links__nav-link.current {
  color: var(--accent-color);
}
.menu-links__nav-link.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  top: 53px;
  left: 0%;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.adress-head {
  display: none;
}
@media (min-width: 768px) {
  .adress-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 65px;
  }
}
@media (min-width: 1200px) {
  .adress-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 305px;
  }
}
.adress-head__tel {
  display: none;
  gap: 10px;
  text-decoration: none;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .adress-head__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    color: var(--text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
}
@media (min-width: 1200px) {
  .adress-head__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-decoration: none;
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.adress-head__link-mail {
  display: none;
  gap: 10px;
  text-decoration: none;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .adress-head__link-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    color: var(--text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
}
.adress-head__link-mail:hover,
.adress-head :focus {
  color: var(--accent-color);
}
.adress-head__link-mail:hover,
.adress-head :focus {
  fill: var(--accent-color);
}
.adress-head__tel:hover,
.adress-head :focus {
  color: var(--accent-color);
}
.adress-head__item {
  display: none;
}
@media (min-width: 768px) {
  .adress-head__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    fill: var(--text-color);
    margin-bottom: 10px;
  }
}
.adress-head__item:hover {
  fill: var(--accent-color);
}
.adress-head__icon-smartphone:hover {
  fill: var(--accent-color);
}

@media (min-width: 768px) {
  .adress-head li:not(:last-child) {
    margin-right: 15px;
  }
}
@media (min-width: 1200px) {
  .adress-head li:not(:last-child) {
    margin-right: 50px;
  }
}

.section {
  padding: 94px 0;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.secondary-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.name-title {
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

@media (min-width: 768px) {
  .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.h3-title {
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .h3-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.text {
  text-align: left;
}

@media (min-width: 768px) {
  .list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    width: 354px;
    height: auto;
    margin: 30px, 15px;
    margin-bottom: 30px;
    margin: 15px;
  }
}
@media (min-width: 1200px) {
  .list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    width: 270px;
    height: auto;
    margin: 30px, 15px;
    margin-bottom: 30px;
    margin: 15px;
  }
}
.list-item__icon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--portfolio-buttons-bgc);
  width: 450px;
  height: 120px;
}
@media (min-width: 768px) {
  .list-item__icon-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 354px;
    height: 120px;
  }
}
@media (min-width: 1200px) {
  .list-item__icon-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 270px;
    height: 120px;
  }
}
.list-item__icon-antenna, .list-item__icon-clock, .list-item__icon-computer, .list-item__icon-astronaut {
  width: 65.32px;
  height: 70px;
  fill: var(--title-text-color);
}

.text {
  display: inline-block;
  max-width: 450px;
  height: auto;
}
@media (min-width: 768px) {
  .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 354px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 270px;
    height: auto;
  }
}

.hero-section {
  display: block;
  padding: 0 auto;
  margin: 0 auto;
}
.hero-section__title {
  max-width: 696px;
  display: inline-block;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secont-title-text-color);
}

.img-hero-section {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-image: url("../images/hero-section.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
  background-color: var(--secondary-section-background);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .img-hero-section {
    background-image: url("../images/header-img@2x.jpeg");
  }
}

.hero-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  color: var(--secont-title-text-color);
  background-color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: hidden;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) scale(0.2);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) scale(0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) scale(0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) scale(0.2), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) scale(0.2);
}
@media (min-width: 1200px) {
  .hero-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.hero-button:focus, .hero-button:hover, .hero-button:active {
  background-color: var(--button-bgc-hover);
}

.logo__web--blue {
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo__studio--black {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.our-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: -15px;
}
@media (min-width: 480px) {
  .our-clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .our-clients {
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .our-clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 0;
  }
}
@media (min-width: 480px) {
  .our-clients__item {
    width: 210px;
    height: 92px;
  }
}
@media (min-width: 768px) {
  .our-clients__item {
    width: 210px;
    height: 92px;
  }
}
@media (min-width: 1200px) {
  .our-clients__item {
    width: 170px;
    height: 92px;
  }
}
.our-clients__link {
  fill: var(--fill-socials);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 480px) {
  .our-clients__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    width: 210px;
    height: 92px;
  }
}
@media (min-width: 768px) {
  .our-clients__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 226px;
    height: 92px;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .our-clients__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 170px;
    height: 92px;
    gap: 0;
    margin: 0;
  }
}
.our-clients__link:hover {
  fill: var(--accent-color);
}
.our-clients__link:focus {
  fill: var(--accent-color);
}
.our-clients__backgraund {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--fill-socials);
  border-radius: 4px;
}
.our-clients__backgraund:hover {
  border-color: var(--accent-color);
}
.our-clients__backgraund:focus {
  border-color: var(--accent-color);
}

@media (min-width: 768px) {
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media (min-width: 1200px) {
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: raw;
            flex-direction: raw;
    margin: -15px;
  }
}
@media (min-width: 768px) {
  .our-team__thumb {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media (min-width: 1200px) {
  .our-team__thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}
.our-team__profesions {
  margin-bottom: 16px;
  text-align: center;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.our-team__card {
  display: block;
  padding-bottom: 30px;
  margin-right: 0;
  width: 100%;
}

.our-team > li {
  background-color: var(--background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.main-section-bgc {
  background-color: var(--grey-bgc);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  gap: 10px;
  padding-bottom: 24px;
}
.socials__item {
  width: 44px;
  height: 44px;
}
.socials__link {
  width: 20px;
  height: 20px;
  fill: var(--fill-socials);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--fill-socials);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__icon:hover, .socials__icon:focus, .socials__icon:active {
  background-color: var(--accent-color);
}
.socials__icon:hover .socials__link, .socials__icon:focus .socials__link, .socials__icon:active .socials__link {
  fill: var(--secont-title-text-color);
}

.photos {
  padding-top: 0;
}
@media (max-width: 1200px) {
  .photos {
    display: none;
  }
}

.what-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 30px;
  width: 370;
}
.what-we-do__overlay--computer, .what-we-do__overlay--telephone, .what-we-do__overlay--tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
}
.what-we-do__text {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
}
.what-we-do__img {
  width: 100%;
  height: 100%;
  position: relative;
}
.what-we-do__item {
  position: relative;
}

.main-cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.card-link-portfolio {
  position: relative;
  overflow: hidden;
  display: block;
  width: 370px;
  text-decoration: none;
  overflow: hidden;
}
.card-link-portfolio:hover .product-thumb__description, .card-link-portfolio:focus .product-thumb__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card-link-portfolio:hover, .card-link-portfolio:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}
.product-thumb__img {
  display: block;
  width: 100%;
  max-height: auto;
  margin-right: 0;
}
.product-thumb__description {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secont-title-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-bottom {
  overflow: hidden;
  left: 0;
  bottom: 10px;
  margin-top: 0;
  padding-top: 20px;
  padding-left: 24px;
  border-left: 1px solid var(--portfolio-border-color);
  border-right: 1px solid var(--portfolio-border-color);
  border-bottom: 1px solid var(--portfolio-border-color);
}
.card-bottom__title {
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-bottom__description {
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.portfolio-header-section {
  padding: 32px;
  border-bottom: 1px solid var(--head-border-color);
}

.nav-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio-buttons {
  max-width: 145px;
  height: 38px;
  gap: 8px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 4px;
  border-style: hidden;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--portfolio-buttons-bgc);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-buttons__text {
  padding-left: 22px;
  padding-right: 22px;
}
.portfolio-buttons:hover {
  color: var(--secont-title-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-buttons:focus {
  color: var(--secont-title-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */