.footer {
    padding: 60px 0;
    background-color: var(--secondary-section-background);
}

.footer-logo{

    &__web--blue {
        display: flex;
        margin-bottom: 20px;
        color: var(--accent-color);
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
    }

    &__studio--white {
        color: var(--secont-title-text-color);
    }
    
}



.footer-first-row {
    display: block;

        &__adress {
            margin: 0;
            margin-bottom: 9px;
            color: var(--secont-title-text-color);
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-size: 14px;
            line-height: 1.7;
            letter-spacing: 0.03em;
        }
    
        &__mail {
            margin-top: 0;
            margin-bottom: 9px;
            color: var(--footer-adress-color);
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 1.7;
        }
    
        &__tel {
            margin-top: 0;
            margin-bottom: 0;
            color: var(--footer-adress-color);
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 1.7;
    
        }
    
        &__tel:hover,
        &__mail:hover {
            color: var(--accent-color);
        }
}



.footer-second-row {
    display: inline-block;
    margin-left: 70px;

         &__socials {
            display: flex;
            border: none;
            justify-content: center;
            gap: 10px;
            margin-bottom: 0px;
            
        }
    
        &__title {
            display: block;
            align-items: baseline;
            color: var(--secont-title-text-color);
            font-family: 'Roboto' sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    
        &__icon {
            @include flex-centered;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            fill: var(--secont-title-text-color);
            background: rgba(255, 255, 255, 0.1);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &__socials-link {
            width: 20px;
            height: 20px;
            fill: var(--secont-title-text-color);
            
        }
    
        &__icon:hover,
        &__icon:focus,
        &__icon:active {
            background-color: var(--accent-color);
        }
    
        &__icon:hover &__socials-link,
        &__icon:focus &__socials-link,
        &__icon:active &__socials-link {
            fill: var(--secont-title-text-color)
        }
}



.footer-inner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.form-footer{

     &__title {
        margin-bottom: 20px;
        font-family: 'Roboto' sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--secont-title-text-color);
    }
}

.form-footer-conteiner {
    position: relative;

         &__input {
            width: 358px;
            height: 50px;
            background: var(--secondary-section-background);
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 15px;
            padding-bottom: 15px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.6);
        }
    
        &__input:hover,
        &__input:focus,
        &__input:active {
            border-color: var(--accent-color);
        }
}



.form-footer-button {
    margin-left: 12px;
    width: 200px;
    height: 50px;
    border: none;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 29px;
    padding-right: 62px;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    color: var(--secont-title-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) scale(0.2);

        &:hover,
        &:focus {
            background-color: var(--button-bgc-hover);
        }
    
    
        &__icon {
            position: absolute;
            width: 24px;
            height: 24px;
            right: 18px;
            top: 50%;
            transform: translateY(-50%);
    
        }
}


