.nav {
    display: flex;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-links {
    display: none;
    

    @media (min-width: 768px) {
            display: flex;
            gap: 50px;
            align-items: center;
            justify-content: space-evenly;
            margin-left: 88px;
    }

         &__nav-link {
            position: relative;
            color: var(--title-text-color);
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            text-decoration: none;

        
        }
    
        &__nav-link:hover {
            color: var(--accent-color);
        }
    
        &__nav-link:focus {
            color: var(--accent-color);
        }
    
        &__nav-link.current {
            color: var(--accent-color);
        }
    
        &__nav-link.current::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 4px;
            top: 53px;
            left: 0%;
            background-color: var(--accent-color);
            border-radius: 2px;
        }
}


.adress-head {
    display: none;
    

    @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            margin-left: 65px;
    }  
    
    @media (min-width: 1200px) {
            display: flex;
            flex-direction: row;
            margin-left: 305px;
    }
    
    

                    &__tel {
                        display: none;
                        gap: 10px;
                        text-decoration: none;
                        color: var(--text-color);
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 1.14;
                        align-items: center;

                        @media (min-width: 768px){
                                display: flex; 
                                position: relative;
                                color: var(--text-color);
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 1.14;
                                letter-spacing: 0.02em;
                                text-decoration: none;
                            }

                            @media (min-width: 1200px) {
                                    display: flex;
                                    flex-direction: row;
                                    text-decoration: none;
                                    color: var(--text-color);
                                    font-family: 'Roboto', sans-serif;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 1.14;
                                    align-items: center;
            }
            
        }
            &__link-mail{
                    display: none;
                    gap: 10px;
                    text-decoration: none;
                    color: var(--text-color);
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.14;
                    align-items: center;


            @media (min-width: 768px) {
                    display: flex;
                    position: relative;
                    color: var(--text-color);
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 1.14;
                    letter-spacing: 0.02em;
                    text-decoration: none;
                }
        }
    
        &__link-mail:hover,
        :focus {
            color: var(--accent-color);
        }
    
        &__link-mail:hover,
        :focus {
            fill: var(--accent-color);
    
        }
    
        &__tel:hover,
        :focus {
            color: var(--accent-color);
        }

                 &__item {
                     display: none;
        
                     @media (min-width: 768px) {
                         display: flex;
                         align-items: center;
                         fill: var(--text-color);
                         margin-bottom: 10px;

                        
                     }
                 }
        
                 &__item:hover {
                     fill: var(--accent-color);
                 }
        
                 &__icon-smartphone:hover {
                     fill: var(--accent-color);
                 }
}
.adress-head li:not(:last-child) {

    @media (min-width: 768px) {
        margin-right: 15px;
        }

    @media (min-width: 1200px) {
            margin-right: 50px;
        }
}

.burger-menu{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 260px;
    width: 40px;
    height: 40px;

    @media (min-width:768px) {
            display: none;
        }

    &__icon-cross:hover {
        fill: var(--accent-color);
        }

        

}

   

.burger-menu .icon-cross{
    display: none;
}

.burger-menu.is-open .icon-cross{
    display: block;
}

.burger-menu.is-open .icon-menu{
    display: none;
}


.menu-conteiner{
    display: none;
    position: absolute;
    top: 100%;
    left:0;
    background-color: var(--background-color);
    width: 100%;
    height: 796px;
    z-index: 1;

    &.is-open{
        display: block;
    }

    @media (max-width:767px) {
        width: 480px;
    }
}

.menu-links__nav-link--mobile.is-current {
    color: var(--accent-color);
}

     &__nav-link--mobile{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
        margin-left: 40px;
        text-decoration: none;
}

.menu-conteiner__mobile:not(:last-child){
    margin-bottom: 32px;
}

.contacts-mobile{
    margin-top: 302px;
    margin-left: 40px;
}

.adress-head__tel--mobile{
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
    margin-bottom: 32px;
}

.adress-head{

 &__mail{
    margin-bottom: 64px;
}

&__mail--mobile{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}
}

.contacts-mobile__adress-head{
    margin-bottom: 32px;
}

.mobile-menu-socials{
    display: flex;
    justify-content: center;

    
         &__link{
            text-decoration: none;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.22;
            letter-spacing: 0.02em;
            color: var(--accent-color);     
        }

        &__item:not(:last-child)::after {
            margin: 10px;
            width: 20px;
            height: 20px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
            content: "";
        }


}


.studio{
    margin-top: 48px;
}

.icon-cross{
@media (min-width:768px) {
        display: none;
    }
}

.icon-menu{
    @media (min-width:768px) {
            display: none;
    }
}

.burger-menu__icon-cross{
    @media (min-width:768px) {
            display: none;
    }
}
    

