.section {

    @media (min-width:480px) {
            padding: 60px 0;
    }

    @media (min-width:768px) {
            padding: 60px 0;
    }

    @media (min-width:1200px) {
            padding: 94px 0;
    }
}