.benefits {
    display: block;
    justify-content: space-evenly;
    gap: 30px;
    margin: -15px;
    
}

.list-item{


     &__icon-section {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin-bottom: 30px;
        background-color: var(--portfolio-buttons-bgc);
        width: 450px;
        height: 120px;
        margin: -15px;

        @media (min-width: 768px) {
                display: flex;
                flex-wrap: wrap;
                width: calc((100% - 4 * 15px) / 2);
                width: 354px;
                height: 120px;
            }
    }

    .text{
        display: inline-block;
        max-width: 450px;
        height: auto;
    }

    &__icon-antenna,
    &__icon-clock,
    &__icon-computer,
    &__icon-astronaut {
        width: 65.32px;
        height: 70px;
        fill: var(--title-text-color);
    }

}

 