.benefits {
    
    
    @media (max-width:480px) {
           display: flex;
           flex-direction: column;
           gap: 30px;
    }

    
    
    
}

.list-item{

    



     &__icon-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin-bottom: 30px;
        background-color: var(--portfolio-buttons-bgc);
        width: 450px;
        height: 120px;

       
    }

        &__icon-antenna,
        &__icon-clock,
        &__icon-computer,
        &__icon-astronaut {
            width: 65.32px;
            height: 70px;
            fill: var(--title-text-color);

    }

    .text{
        display: inline-block;
        max-width: 450px;
        height: auto;
    }

}



 