.benefits {
    display: block;
    justify-content: space-evenly;
    gap: 30px;
    
}

.list-item{

     &__icon-section {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin-bottom: 30px;
        background-color: var(--portfolio-buttons-bgc);
        width: 100%;
    }

    &__icon-antenna,
    &__icon-clock,
    &__icon-computer,
    &__icon-astronaut {
        width: 65.32px;
        height: 70px;
        fill: var(--title-text-color);
    }

}

 