.logo{
    

         &__web--blue {
            color: var(--accent-color);
            text-decoration: none;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.2;
            letter-spacing: 0.03em;
        }
    
        &__studio--black {
            color: var(--title-text-color);
            text-decoration: none;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.2;
            letter-spacing: 0.03em;
        }
}

