@mixin flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin for-pixel-ratio-2 {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        @content;
    }
}