:root {
    --accent-color: #2196F3;
    --text-color: #757575;
    --background-color: #ffffff;
    --title-text-color: #212121;
    --secont-title-text-color: #ffffff;
    --secondary-section-background: #2F303A;
    --footer-adress-color: rgba(255, 255, 255, 0.6);
    --portfolio-buttons-bgc: #F5F4FA;
    --grey-bgc: #F5F4FA;
    --light-grey-bgc: #E5E5E5;
    --head-border-color: #ECECEC;
    --portfolio-border-color: #EEEEEE;
    --fill-socials: #AFB1B8;
    --button-bgc-hover: #1976d2;
}